[submodule "click"]
	path = click
	url=git@github.com:pengkui/viro-click.git
[submodule "datagen"]
	path = datagen
	url=git@github.com:pengkui/viro-datagen.git
[submodule "emujava"]
	path = emujava
	url=git@github.com:pengkui/viro-emujava.git
[submodule "emupy"]
	path = emupy
	url=git@github.com:pengkui/viro-emupy.git
[submodule "monitor"]
	path = monitor
	url=git@github.com:pengkui/viro-monitor.git
[submodule "testdata"]
	path = testdata
	url=git@github.com:pengkui/viro-testdata.git
[submodule "csci5221s13"]
	path = csci5221s13
	url=git@github.com:pengkui/viro-csci5221s13.git